
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('fon.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    text-align: center; 
}

.container {
    background-color: rgba(253, 253, 228, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

.pizza-image {
    width: 120px;
    height: auto;
    display: inline-block;
    margin: 5px;
    border-radius: 8px;
}


.header {
    background-color: #e74c3c; 
    color: white;
    text-align: center; 
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


